@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent-blue: #1c07fb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-blue: var(--accent-blue);
  --font-sans: var(--font-inter);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-inter), "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  overflow-x: hidden;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}
